    body {
        background-color: rgb(224, 254, 254);
        /*Light Cyan*/
        font-family: Helvetica Neue, Helvetica, Arial;
        margin: 0;
        padding: 0;
        color: navy;
    }
    
    header {
        background: rgb(198, 242, 255);
    }
    
    header::after {
        content: '';
        display: table;
        clear: both;
    }
    
    .logo {
        float: left;
        padding: 10px, 0;
        /*top/bottom, right/left*/
    }
    
    div.nav-container {
        width: 90%;
    }
    
    nav {
        display: flex;
        /*justify-content: flex-end;
        overflow: hidden;*/
        float: right;
    }
    
    ul.top-nav {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    ul.top-nav li {
        display: inline-block;
    }
    
    ul.top-nav li a {
        text-decoration: none;
        font-family: "Varela", serif;
        padding: 12px 14px;
        color: navy;
        text-align: center;
        transition: all 0.4s ease 0s;
    }
    /*Pseudocode classes*/
    
    ul.top-nav li a:hover {
        background-color: rgb(130, 179, 255);
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        color: white;
    }
    
    ul.top-nav li a.active {
        background-color: rgb(250, 255, 199);
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
    
    ul.top-nav li a.active:hover {
        text-decoration: underline;
        color: navy;
    }
    
    section {
        padding: 20px;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    /*classes*/
    
    section.feature-box div {
        margin: auto;
        width: 100px;
        font-weight: bold;
    }
    
    section.feature-box.sales div {
        background: cornflowerblue;
        color: white;
    }
    
    section.feature-box.closeouts div {
        background: rgb(224, 187, 228);
    }
    
    footer {
        background: rgb(198, 242, 255);
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 11px;
        font-family: "Alice", serif;
    }