    body {
        /* background-color: #b7f2ff;*/
        background-color: rgb(217, 255, 255);
        /*#E0FEFE;*/
        /*#EAEBFF;*/
        /*rgb(217, 255, 255);*/
        /*rgb(234, 255, 255);*/
        font-family: Helvetica Neue, Helvetica, Arial;
        margin: 0;
        color: navy;
    }
    
    header {
        background: #EAEBFF;
        /*#e0fefe;*/
        /*rgb(217, 255, 255);*/
        text-align: center;
        height: 60px;
    }
    /* Logo w/ Link in Nav Bar */
    
    .logo a {
        float: left;
        background-image: url("images/logo.png");
        background-repeat: no-repeat;
        background-size: 185px;
        display: inline-block;
        width: 185px;
        height: 51.8px;
        text-indent: -9999px;
        position: relative;
        top: 5px;
        left: 31px;
    }
    /* Nav Bar */
    
    .top-nav {
        width: 98%;
    }
    
    nav {
        display: flex;
        align-items: center;
        overflow: hidden;
        float: right;
    }
    
    .nav-links {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .nav-links li {
        display: inline-block;
        margin-left: 12px;
        margin-right: 12px;
        position: relative;
        padding: 20px;
    }
    
    .nav-links li a {
        text-decoration: none;
        font-family: "Varela", serif;
        text-transform: uppercase;
        font-size: 14px;
        padding: 8px 10px;
        color: navy;
        text-align: center;
        transition: all 0.4s ease 0s;
    }
    
    .nav-links li a:hover {
        background-color: #BDB5FF;
        /*rgb(130, 179, 255);*/
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        color: white;
    }
    
    .nav-links li a.active {
        background-color: rgb(249, 249, 223);
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    
    .nav-links li a.active:hover {
        background-color: #BDB5FF;
        /* background-color: rgb(130, 179, 255);*/
        border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        color: white;
    }
    /*Toggle Menu for mobile and small screens*/
    
    .toggle-menu {
        display: none;
        float: right;
        cursor: pointer;
    }
    
    .toggle-menu div {
        width: 25px;
        height: 3px;
        margin: 5px;
        border-radius: 5px;
        background-color: navy;
        transition: all 0.3s ease;
    }
    /*To activate the toggle menu nav bar*/
    
    @media screen and (max-width: 800px) {
        body {
            overflow-x: hidden;
        }
        .nav-links {
            overflow-x: hidden;
            position: absolute;
            right: 0;
            height: 92vh;
            top: 60px;
            background: #EAEBFF;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.4s ease-in-out;
        }
        .nav-links li {
            top: 70px;
            opacity: 0;
        }
        .toggle-menu {
            display: block;
            padding-top: 15px;
            padding-right: 24px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .nav-links {
            overflow-x: hidden;
        }
    }
    /*Nav bar toggle menu animation*/
    
    .nav-active {
        transform: translateX(0%);
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggleExit .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggleExit .line2 {
        opacity: 0;
    }
    
    .toggleExit .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    /* Main section */
    /* Main logo */
    
    section.main-section img {
        margin-top: 4vh;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-top-left-radius: 70px;
        border-bottom-right-radius: 70px;
        width: 375px;
        height: 150px;
    }
    
    section.about-section {
        /*background-color: #99eeff;*/
        text-align: center;
        padding: 20px
    }
    
    section.blog-box {
        padding: 20px;
        /*background-color: #b7f2ff;*/
        display: flex;
    }
    
    section.blog-box div {
        margin: auto;
        width: 120px;
        text-align: center;
        font-weight: bold;
        flex-direction: row;
        background: #FFF5FB;
    }
    
    section.proj-featured {
        /*background-color: #FFF5FB;*/
        padding: 20px;
        display: block;
        height: 4vh;
    }
    
    section.proj-featured div {
        float: left;
        margin-left: 50px;
        padding: 8px;
        background: #99eeff;
    }
    
    section.blog-featured {
        /*background-color: #FFF5FB;*/
        display: block;
        height: 4vh;
        padding: 20px;
    }
    
    section.blog-featured div {
        float: right;
        margin-right: 50px;
        padding: 8px;
        background: #99eeff;
    }
    
    section.project-section {
        /*background-color: #99eeff;*/
        text-align: center;
        padding: 20px
    }
    
    footer {
        background: #EAEBFF;
        /*rgb(217, 255, 255);*/
        font-size: 15px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 5px;
        font-family: "Alice", serif;
    }